.background {
  display: flex;

  min-height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgba(225, 5, 34, 0) 70%) repeat scroll 0% 0%, 
              linear-gradient(135deg, rgb(255, 255, 255) 10%, rgba(49, 5, 209, 0) 80%) repeat scroll 0% 0%, 
              linear-gradient(225deg, rgb(91, 212, 202) 10%, rgba(10, 219, 216, 0) 80%) repeat scroll 0% 0%,
              rgba(0, 0, 0, 0) linear-gradient(315deg, rgb(244, 245, 208) 100%, rgba(9, 245, 5, 0) 70%) repeat scroll 0% 0%;

}



  /* Other page styling */
  * {
    margin: 0;
    padding: 0;
  }

  h2 {
    vertical-align: middle;
    height: 300px;
  }
  

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  text-decoration: none;

}

li {

  float: left;
  text-align: center;
  text-decoration: none;

}



li a {
    display: block;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: black;
}

.nameweb{
    font-family: 'Nabla', cursive;
    padding: 22px 16px;
    font-size: 55px;
}


.namemenu{
    color:  black;
    font-family: "Gill Sans", sans-serif;
    padding: 54px 20px;
    font-size: 25px;
}

.namemenu:hover{
    font-size: 55px; 
    filter: drop-shadow(0 0 0.75rem rgb(73, 73, 73));
}



.endpage{
  padding: 5% 30%;
  color: black;
  text-align: justify;
  
}

.maintext{
  width: 30%;
  position: absolute;
  top: 30%;
  left: 15%;
  text-align: justify;
  padding: 20px;
    
}



.dot {
    height: 20px;
    width: 20px;
    background-color: rgb(43, 69, 124);
    border-radius: 100%;
    display: inline-block;
}

  .menu{
    position: absolute;
    width: 100vw;
    top:0px;
    left:0px;
  }

  .container{
    
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 60%;
}
.typed-out{
 
    overflow: hidden;
    border-right: .30em solid black;
    border-radius: 4px;
    white-space: nowrap;
    animation: 
      typing 1s steps(20, end) forwards,
      blinking 1.2s infinite;
    font-size: 1.6rem;
    width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: calc(var(--length))}
}
@keyframes blinking {
  from { border-color: transparent }
  to { border-color: black; }
}

.typed-out:hover{

  font-size: 25px; 
  filter: drop-shadow(0 0 0.75rem rgb(73, 73, 73));

}

.IconLinkedin{
  padding: 0% 42.5%;
}

